@model IEnumerable<YemekSatış.Models.DTO.DetailsListDTO>
@{
    ViewBag.Title = "MutfakDetay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="banner" style="background-color:white;">
    <div class="w3l_banner_nav_right" style="background-color:white;">
        <form action="/home/SepeteEkle" method="post" name="yeni">
            <div class="w3l_banner_nav_right_banner3_btm">
                @foreach (var item in Model)
                {
                    if (Model != null)
                    {
                        <div class="col-md-4 w3l_banner_nav_right_banner3_btml" style="background-color:white;">
                            <ol>
                                <li style="color:black;font-family:'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif'">@item.Details1</li>
                                <li style="color:black;font-family:'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif'">@item.Price</li>
                                <input type="hidden" name="Price" value="@item.Price" />
                                <input type="hidden" id="hdnProductID" name="ProductID" value="@item.Id" />
                                <input type="number" name="SKU" class="form-control bfh-number" required data-min="1" data-max="25" data-wrap="true" />
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        <input type="submit" name="submit" value="Sepete ekle" class="button">
                                    </font>
                                </font>
                            </ol>
                        </div>
                    }
                }
                <div class="clearfix"> </div>
            </div>
        </form>
    </div>
</div>
